arrow
astroid
bandit
beautifulsoup4
certifi
charset-normalizer
click
coverage
Flask
Flask-SQLAlchemy-Lite
Flask-WTF
gunicorn
html2text
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mypy
platformdirs
pylint
pytest
python-dateutil
regex @ git+https://github.com/smontanaro/mrab-regex
requests
six
SQLAlchemy
textblob
toml
urllib3
Werkzeug
wrapt
WTForms
sprdpl @ git+https://github.com/smontanaro/sprdpl
