arrow
astroid
certifi
charset-normalizer
click
Flask
Flask-WTF
gunicorn
html2text
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
platformdirs
pylint
python-dateutil
regex
requests
six
textblob
toml
urllib3
Werkzeug
wrapt
WTForms
~/src/sprdpl
