arrow
astroid
atpublic
attrs
bandit
beautifulsoup4
blinker
build
cached-property
certifi
charset-normalizer
click
ConfigArgParse
coverage
dill
dynaconf
exceptiongroup
Flask
Flask-WTF
gitdb
GitPython
gixy
gunicorn
html2text
idna
iniconfig
isort
itsdangerous
Jinja2
joblib
lazy-object-proxy
markdown-it-py
MarkupSafe
mccabe
mdurl
mypy
mypy-extensions
nltk
packaging
pbr
platformdirs
pluggy
py
py-spy
Pygments
pylint
pyparsing
pyproject_hooks
pytest
python-dateutil
PyYAML
regex @ git+https://github.com/smontanaro/mrab-regex
requests
rich
six
smmap
soupsieve
sprdpl @ git+https://github.com/smontanaro/sprdpl
stevedore
textblob
toml
tomli
tomlkit
tqdm
traitlets
types-python-dateutil
typing-inspection
typing_extensions
tzdata
Unum
uri-template
ua-parser
ua-parser-builtins
urllib3
uv
virtualenv
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
WTForms
xlrd
xlwt
