body {
  max-width: 1280px;
  width: 98%;
  margin: 0px auto;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  background-color: #F8F8FF;
}

h1, h2, h3 {
  color: #626584;
}h4{background: lightgrey;filter:alpha(opacity=80);opacity:0.8;color: #000;border-radius: 8px;font-weight: bold;padding: 5px 5px 5px 10px;margin:0 auto;z-index: -1;
}
img {
  display: block;
  margin: 10px auto;
  border : 0;
  max-width: 100%;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #525252;
}

nav ul li {
  display: block;
  position: relative;
  float: left;
  background: #525252;
}

nav li ul { display: none; }

nav ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

nav ul li a:hover { background: #838383; }

nav li:hover > ul {
  display: block;
  position: absolute;  z-index: 1;
}

nav li:hover li { float: none; }

nav li:hover a { background: #525252; }

nav li:hover li a:hover { background: #838383; }

nav ul ul ul {
  left: 100%;
  top: 0;
}

nav ul:before,
nav ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

nav ul:after { clear: both; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: #333;
}

td, th {
  padding: .5em;
  height: 30px;
  border: 1px solid transparent;
  border: 1px dotted #ccc;
  transition: all 0.2s;
}

th {
  background: #DFDFDF;
  font-weight: bold;
}

td {
  background: #fafafa;
  text-align: left;
}

tr:nth-child(even) td {
  background: #f1f1f1;
}

tr:nth-child(odd) td {
  background: #fefefe;
}

tr td ul.inline li {
  display: block;
  margin-bottom: 9px;
}

tr.odd .form-item,
tr.even .form-item {
  margin-bottom: 10px;
}

tr td ul {
  margin: 0;
}
