<!DOCTYPE html>
<!--
        Heavily modified from:

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a>.
-->
<html>
<head>
<title>{{ clean_title }}</title>
<meta http-equiv="content-type" content="text/html; charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/default.css" />

<!--
  Floating button CSS and font nicked from
  http://androidcss.com/css/css3-floating-button-tutorial/
-->
<link rel="stylesheet" type="text/css" href="/static/css/floating.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">
<!-- <link rel="stylesheet" tyoe="text/css" href="/static/css/font-awesome.css" /> -->

<meta name="keywords" content="" />
<meta name="description" content="" />
</head>
<body>

<a href="#top" class="float"><i class="fa fa-arrow-up my-float"></i></a>

<div id="outer">

  <p><a name="top">{{ nav|safe }}</a></p>
  <h1>{{ title }}</h1>

  <div id="primarycontent">

    <!-- primary content start -->
    {{ body|safe }}
    <!-- primary content end -->

  </div>

  <div id="footer">
    &copy; Skip Montanaro. All rights reserved.
  </div>

</div>

</body>
</html>
