{% extends "crtop.jinja" %}

{% set nav = [("index", {}, 'Home', ""), ("cr_index", {}, "CR", ""),] %}

{% block title %}
    <div class="header" style="margin: 5px;">
        <h1 id="header">About the CR Archives</h1>
    </div>
{% endblock %}

{% block body %}

    <p>
        Before its current incarnation as a Google Group, the
        <a href="http://classicrendezvous.com/">Classic
        Rendezvous</a> group lived as a mailing list hosted at
        bikelist.org (not a link here as its original purpose is no
        more). The archives of the old list were mostly intact when I
        came along. I initially converted them to HTML using an old
        mail-to-HTML converter named <a href="https://www.mhonarc.org/">MHonArc</a>,
        just to make them available to current classic &amp; vintage
        bike nuts as well as the broader public. I then went on with
        my life.
    </p>

    <p>
        Time passed and I retired. I wanted something digital to
        putter around with (I was a software engineer), wanted the
        site to be more dynamic, and wanted to make it slightly more
        than a static collection of emails. The current incarnation
        was built with <a href="https://nginx.org/">NGINX</a>,
        <a href="https://gunicorn.org/">Gunicorn</a>, and
        <a href="https://flask.palletsprojects.com/">Flask</a>. It
        includes a bit different presentation and navigation (more?
        better?  worse? the jury is still out), as well as a couple
        functional changes to hopefully make the content more useful.
        <ul>
            <li> Topics - user-contributed (crowd-sourced?)
                collections of related emails.</li>
            <li> Defunct URL rewriting - mapping of defunct web page
                links to their current equivalent (if they exist, and
                again, user-contributed).</li>
        </ul>
    </p>

    <p>
        The archive includes messages from late-2000 through mid-2010,
        with a smattering of mail outside those boundaries. If you
        happen to have any messages saved from the gaps between March
        2000 and September 2000 or between July 2010 and January 2011,
        I would appreciate hearing from you, even if your message
        collection isn't complete. Feedback about the site is always
        welcome.
    </p>

    <p>
        — <a href="mailto:skip.montanaro@gmail.com">Skip Montanaro</a>, 2022
    </p>

{% endblock %}
