{% extends "bootstrap.jinja" %}

{% set title = "One Page Calendar" %}

{% block extrahead %}
    <link href="/static/css/calendar.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="toast-container">
        <div><a href="/calendar/{{ year-1 }}">{{ year-1 }}</a> | <a href="/calendar/{{ year+1 }}">{{ year+1 }}</a></div>
        <table class="calendar">
            <caption>From <em><a href="https://medium.com/starts-with-a-bang/this-one-page-calendar-will-change-how-you-view-the-year-b8ecad85eebd">This one-page calendar will change how you view the year</a></em></caption>
            <tbody>
                <tr class="calendar">
                    <!-- start test support -->
                    <td class="calendar-year" rowspan="4" colspan="5">{{ year }}</td>
                    <td class="{{ classes[ 0][ 5] }}">{{ months[0][0] }}</td>
                    <td class="{{ classes[ 0][ 6] }}">{{ months[0][1] }}</td>
                    <td class="{{ classes[ 0][ 7] }}">{{ months[0][2] }}</td>
                    <td class="{{ classes[ 0][ 8] }}">{{ months[0][3] }}</td>
                    <td class="{{ classes[ 0][ 9] }}">{{ months[0][4] }}</td>
                    <td class="{{ classes[ 0][10] }}">{{ months[0][5] }}</td>
                    <td class="{{ classes[ 0][11] }}">{{ months[0][6] }}</td>
                    <!-- end test support -->
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 1][ 5] }}">{{ months[1][0] }}</td>
                    <td class="{{ classes[ 1][ 6] }}">{{ months[1][1] }}</td>
                    <td class="{{ classes[ 1][ 7] }}">{{ months[1][2] }}</td>
                    <td class="{{ classes[ 1][ 8] }}">{{ months[1][3] }}</td>
                    <td class="{{ classes[ 1][ 9] }}">{{ months[1][4] }}</td>
                    <td class="{{ classes[ 1][10] }}">{{ months[1][5] }}</td>
                    <td class="{{ classes[ 1][11] }}">{{ months[1][6] }}</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 2][ 5] }}">{{ months[2][0] }}</td>
                    <td class="{{ classes[ 2][ 6] }}">{{ months[2][1] }}</td>
                    <td class="{{ classes[ 2][ 7] }}">{{ months[2][2] }}</td>
                    <td class="{{ classes[ 2][ 8] }}">{{ months[2][3] }}</td>
                    <td class="{{ classes[ 2][ 9] }}">{{ months[2][4] }}</td>
                    <td class="{{ classes[ 2][10] }}">{{ months[2][5] }}</td>
                    <td class="{{ classes[ 2][11] }}">{{ months[2][6] }}</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 3][ 5] }}">{{ months[3][0] }}</td>
                    <td class="{{ classes[ 3][ 6] }}">{{ months[3][1] }}</td>
                    <td class="{{ classes[ 3][ 7] }}">{{ months[3][2] }}</td>
                    <td class="{{ classes[ 3][ 8] }}">{{ months[3][3] }}</td>
                    <td class="{{ classes[ 3][ 9] }}">{{ months[3][4] }}</td>
                    <td class="{{ classes[ 3][10] }}">{{ months[3][5] }}</td>
                    <td class="{{ classes[ 3][11] }}">{{ months[3][6] }}</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 4][ 0] }}">1</td>
                    <td class="{{ classes[ 4][ 1] }}">8</td>
                    <td class="{{ classes[ 4][ 2] }}">15</td>
                    <td class="{{ classes[ 4][ 3] }}">22</td>
                    <td class="{{ classes[ 4][ 4] }}">29</td>
                    <td class="{{ classes[ 4][ 5] }}">Sun</td>
                    <td class="{{ classes[ 4][ 6] }}">Mon</td>
                    <td class="{{ classes[ 4][ 7] }}">Tue</td>
                    <td class="{{ classes[ 4][ 8] }}">Wed</td>
                    <td class="{{ classes[ 4][ 9] }}">Thu</td>
                    <td class="{{ classes[ 4][10] }}">Fri</td>
                    <td class="{{ classes[ 4][11] }}">Sat</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 5][ 0] }}">2</td>
                    <td class="{{ classes[ 5][ 1] }}">9</td>
                    <td class="{{ classes[ 5][ 2] }}">16</td>
                    <td class="{{ classes[ 5][ 3] }}">23</td>
                    <td class="{{ classes[ 5][ 4] }}">30</td>
                    <td class="{{ classes[ 5][ 5] }}">Mon</td>
                    <td class="{{ classes[ 5][ 6] }}">Tue</td>
                    <td class="{{ classes[ 5][ 7] }}">Wed</td>
                    <td class="{{ classes[ 5][ 8] }}">Thu</td>
                    <td class="{{ classes[ 5][ 9] }}">Fri</td>
                    <td class="{{ classes[ 5][10] }}">Sat</td>
                    <td class="{{ classes[ 5][11] }}">Sun</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 6][ 0] }}">3</td>
                    <td class="{{ classes[ 6][ 1] }}">10</td>
                    <td class="{{ classes[ 6][ 2] }}">17</td>
                    <td class="{{ classes[ 6][ 3] }}">24</td>
                    <td class="{{ classes[ 6][ 4] }}">31</td>
                    <td class="{{ classes[ 6][ 5] }}">Tue</td>
                    <td class="{{ classes[ 6][ 6] }}">Wed</td>
                    <td class="{{ classes[ 6][ 7] }}">Thu</td>
                    <td class="{{ classes[ 6][ 8] }}">Fri</td>
                    <td class="{{ classes[ 6][ 9] }}">Sat</td>
                    <td class="{{ classes[ 6][10] }}">Sun</td>
                    <td class="{{ classes[ 6][11] }}">Mon</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 7][ 0] }}">4</td>
                    <td class="{{ classes[ 7][ 1] }}">11</td>
                    <td class="{{ classes[ 7][ 2] }}">18</td>
                    <td class="{{ classes[ 7][ 3] }}">25</td>
                    <td class="{{ classes[ 7][ 4] }}">  </td>
                    <td class="{{ classes[ 7][ 5] }}">Wed</td>
                    <td class="{{ classes[ 7][ 6] }}">Thu</td>
                    <td class="{{ classes[ 7][ 7] }}">Fri</td>
                    <td class="{{ classes[ 7][ 8] }}">Sat</td>
                    <td class="{{ classes[ 7][ 9] }}">Sun</td>
                    <td class="{{ classes[ 7][10] }}">Mon</td>
                    <td class="{{ classes[ 7][11] }}">Tue</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 8][ 0] }}">5</td>
                    <td class="{{ classes[ 8][ 1] }}">12</td>
                    <td class="{{ classes[ 8][ 2] }}">19</td>
                    <td class="{{ classes[ 8][ 3] }}">26</td>
                    <td class="{{ classes[ 8][ 4] }}">  </td>
                    <td class="{{ classes[ 8][ 5] }}">Thu</td>
                    <td class="{{ classes[ 8][ 6] }}">Fri</td>
                    <td class="{{ classes[ 8][ 7] }}">Sat</td>
                    <td class="{{ classes[ 8][ 8] }}">Sun</td>
                    <td class="{{ classes[ 8][ 9] }}">Mon</td>
                    <td class="{{ classes[ 8][10] }}">Tue</td>
                    <td class="{{ classes[ 8][11] }}">Wed</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[ 9][ 0] }}">6</td>
                    <td class="{{ classes[ 9][ 1] }}">13</td>
                    <td class="{{ classes[ 9][ 2] }}">20</td>
                    <td class="{{ classes[ 9][ 3] }}">27</td>
                    <td class="{{ classes[ 9][ 4] }}">  </td>
                    <td class="{{ classes[ 9][ 5] }}">Fri</td>
                    <td class="{{ classes[ 9][ 6] }}">Sat</td>
                    <td class="{{ classes[ 9][ 7] }}">Sun</td>
                    <td class="{{ classes[ 9][ 8] }}">Mon</td>
                    <td class="{{ classes[ 9][ 9] }}">Tue</td>
                    <td class="{{ classes[ 9][10] }}">Wed</td>
                    <td class="{{ classes[ 9][11] }}">Thu</td>
                </tr>
                <tr class="calendar">
                    <td class="{{ classes[10][ 0] }}">7</td>
                    <td class="{{ classes[10][ 1] }}">14</td>
                    <td class="{{ classes[10][ 2] }}">21</td>
                    <td class="{{ classes[10][ 3] }}">28</td>
                    <td class="{{ classes[10][ 4] }}">  </td>
                    <td class="{{ classes[10][ 5] }}">Sat</td>
                    <td class="{{ classes[10][ 6] }}">Sun</td>
                    <td class="{{ classes[10][ 7] }}">Mon</td>
                    <td class="{{ classes[10][ 8] }}">Tue</td>
                    <td class="{{ classes[10][ 9] }}">Wed</td>
                    <td class="{{ classes[10][10] }}">Thu</td>
                    <td class="{{ classes[10][11] }}">Fri</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
