{% extends "bootstrap.jinja" %}

{% set title = "One Page Calendar" %}

{% block extrahead %}
    <link href="/static/css/calendar.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="toast-container">
        <div><a href="/calendar/{{ year-1 }}">{{ year-1 }}</a> | <a href="/calendar/{{ year+1 }}">{{ year+1 }}</a></div>
        <table class="calendar">
            <caption>From <em><a href="https://medium.com/starts-with-a-bang/this-one-page-calendar-will-change-how-you-view-the-year-b8ecad85eebd">This one-page calendar will change how you view the year</a></em></caption>
            <tbody>
                <tr class="calendar">
                    <!-- start test support -->
                    <td class="calendar-year" rowspan="4" colspan="5">{{ year }}</td>
                    <td class="calendar">{{ months[0][0] }}</td>
                    <td class="calendar">{{ months[0][1] }}</td>
                    <td class="calendar">{{ months[0][2] }}</td>
                    <td class="calendar">{{ months[0][3] }}</td>
                    <td class="calendar">{{ months[0][4] }}</td>
                    <td class="calendar">{{ months[0][5] }}</td>
                    <td class="calendar">{{ months[0][6] }}</td>
                    <!-- end test support -->
                </tr>
                <tr class="calendar">
                    <td class="calendar">{{ months[1][0] }}</td>
                    <td class="calendar">{{ months[1][1] }}</td>
                    <td class="calendar">{{ months[1][2] }}</td>
                    <td class="calendar">{{ months[1][3] }}</td>
                    <td class="calendar">{{ months[1][4] }}</td>
                    <td class="calendar">{{ months[1][5] }}</td>
                    <td class="calendar">{{ months[1][6] }}</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">{{ months[2][0] }}</td>
                    <td class="calendar">{{ months[2][1] }}</td>
                    <td class="calendar">{{ months[2][2] }}</td>
                    <td class="calendar">{{ months[2][3] }}</td>
                    <td class="calendar">{{ months[2][4] }}</td>
                    <td class="calendar">{{ months[2][5] }}</td>
                    <td class="calendar">{{ months[2][6] }}</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">{{ months[3][0] }}</td>
                    <td class="calendar">{{ months[3][1] }}</td>
                    <td class="calendar">{{ months[3][2] }}</td>
                    <td class="calendar">{{ months[3][3] }}</td>
                    <td class="calendar">{{ months[3][4] }}</td>
                    <td class="calendar">{{ months[3][5] }}</td>
                    <td class="calendar">{{ months[3][6] }}</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">1</td>
                    <td class="calendar"> 8</td>
                    <td class="calendar">15</td>
                    <td class="calendar">22</td>
                    <td class="calendar">29</td>
                    <td class="calendar">Sun</td>
                    <td class="calendar">Mon</td>
                    <td class="calendar">Tue</td>
                    <td class="calendar">Wed</td>
                    <td class="calendar">Thu</td>
                    <td class="calendar">Fri</td>
                    <td class="calendar">Sat</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">2</td>
                    <td class="calendar"> 9</td>
                    <td class="calendar">16</td>
                    <td class="calendar">23</td>
                    <td class="calendar">30</td>
                    <td class="calendar">Mon</td>
                    <td class="calendar">Tue</td>
                    <td class="calendar">Wed</td>
                    <td class="calendar">Thu</td>
                    <td class="calendar">Fri</td>
                    <td class="calendar">Sat</td>
                    <td class="calendar">Sun</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">3</td>
                    <td class="calendar">10</td>
                    <td class="calendar">17</td>
                    <td class="calendar">24</td>
                    <td class="calendar">31</td>
                    <td class="calendar">Tue</td>
                    <td class="calendar">Wed</td>
                    <td class="calendar">Thu</td>
                    <td class="calendar">Fri</td>
                    <td class="calendar">Sat</td>
                    <td class="calendar">Sun</td>
                    <td class="calendar">Mon</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">4</td>
                    <td class="calendar">11</td>
                    <td class="calendar">18</td>
                    <td class="calendar">25</td>
                    <td class="calendar">  </td>
                    <td class="calendar">Wed</td>
                    <td class="calendar">Thu</td>
                    <td class="calendar">Fri</td>
                    <td class="calendar">Sat</td>
                    <td class="calendar">Sun</td>
                    <td class="calendar">Mon</td>
                    <td class="calendar">Tue</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">5</td>
                    <td class="calendar">12</td>
                    <td class="calendar">19</td>
                    <td class="calendar">26</td>
                    <td class="calendar">  </td>
                    <td class="calendar">Thu</td>
                    <td class="calendar">Fri</td>
                    <td class="calendar">Sat</td>
                    <td class="calendar">Sun</td>
                    <td class="calendar">Mon</td>
                    <td class="calendar">Tue</td>
                    <td class="calendar">Wed</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">6</td>
                    <td class="calendar">13</td>
                    <td class="calendar">20</td>
                    <td class="calendar">27</td>
                    <td class="calendar">  </td>
                    <td class="calendar">Fri</td>
                    <td class="calendar">Sat</td>
                    <td class="calendar">Sun</td>
                    <td class="calendar">Mon</td>
                    <td class="calendar">Tue</td>
                    <td class="calendar">Wed</td>
                    <td class="calendar">Thu</td>
                </tr>
                <tr class="calendar">
                    <td class="calendar">7</td>
                    <td class="calendar">14</td>
                    <td class="calendar">21</td>
                    <td class="calendar">28</td>
                    <td class="calendar">  </td>
                    <td class="calendar">Sat</td>
                    <td class="calendar">Sun</td>
                    <td class="calendar">Mon</td>
                    <td class="calendar">Tue</td>
                    <td class="calendar">Wed</td>
                    <td class="calendar">Thu</td>
                    <td class="calendar">Fri</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
