{% extends "crtop.jinja" %}

{% block nav %}
    <a href="/">Home</a>&nbsp;<a href="/CR">CR Archives</a>&nbsp;{{ nav|safe }}
{% endblock %}

{% block left %}
    {% include "search.jinja" %}
    {% include "stuff.jinja" %}
{% endblock %}

{% block topic %}
    {% include "topic.jinja" %}
    <hr />
{% endblock %}
