{% extends "crtop.jinja" %}

{% block left %}
    {% include "search.jinja" %}
    {% include "stuff.jinja" %}
{% endblock %}

{% block topic %}
    {% include "topic.jinja" %}
    <hr />
{% endblock %}
