{% extends "home.jinja" %}

{% block nav %}
    {% from 'bootstrap4/nav.html' import render_nav_item %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {% for (target, text) in nav %}
                {{ render_nav_item(target, text) }}
            {% endfor %}
        </div>
    </nav>
{% endblock %}

{% block left %}
    {% include "search.jinja" %}
    {% include "stuff.jinja" %}
{% endblock %}
