{% extends "bootstrap.jinja" %}

{% block left %}
    {% for (text, href) in [("Home", "/"), ("Topics", "/CR/topics"), ("About", "/CR/about")] %}
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ href }}">{{ text }}</a>
    {% endfor %}
{% endblock %}
