{% extends "index.jinja" %}

{% block left %}
    {{ super() }}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/CR/{{ year }}/{{ month }}/threads">Thread Index</a>
    <hr style="height: 4px" />
    {% include "search.jinja" %}
    <hr style="height: 4px" />
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
          title="Enter a pattern and indicate whether to keep or toss subjects or emails with that pattern.">
        <b>Filter</b>
    </span>
    {% include "filter.jinja" %}
{% endblock %}
