{% extends "base.jinja" %}

{% block content %}
    <div class="container">
        <div class="nav" style="margin: 5px;">
            {% block nav %}
            {% endblock %}
        </div>
        <div class="header" style="margin: 5px;">
            <h1 id="header">{{ prev|safe }}{{ title }}{{ next|safe }}</h1>
        </div>
        <div class="left" style="margin: 5px;">
            {% block left %}{% endblock %}
        </div>
        <div class="main" style="margin: 5px;">
            {% block topic %}{% endblock %}
            {% block body %}
                {{ body|safe }}
            {% endblock %}
        </div>
        <div class="footer" style="margin: 5px;">
            {% block copyright %}
                <!--
                     &copy; 2000-2011 Dale Brown.
                     &copy; 2021-{{ today.strftime("%Y") }} Skip Montanaro.
                -->
            {% endblock %}
        </div>
    </div>

    <div style="font-size: 2.0rem;">
        <a href="#top" class="float">
            <i class="fa fa-arrow-up my-float"></i>
        </a>
    </div>
{% endblock %}
