{% extends "home.jinja" %}

{% block body %}
    <p>Nobody here but us chickens...
        and the <a href="CR">old Classic Rendezvous Archives.</a>
    </p>
{% endblock %}

{% block left %}
    {% include "stuff.jinja" %}
{% endblock %}
