{% extends "bootstrap.jinja" %}

{% set title = "My Bikes" %}

{% block content %}

    <p>
        I was mildly surprised to find that Google's web crawler
        doesn't crawl Google Photos. That means if I Google my Monti
        Special, it can't be found. Ditto for any other bike in my
        stable. What's up with that? So, I've put together this page
        to describe my various bikes and provide links to their albums
        in Google Photos.
    </p>

    <p>
        <dl>
            <dt><a href="https://photos.app.goo.gl/3YBkE6tGQRPsVwbS7">Monti Special</a>
            </dt>
            <dd>Frame built under the tutelage of (and with a lot of
            help by) Doug Fattic. Paint by Jack Trumbull (Franklin
            Frame)
                <ul>
                    <li>Tubing: a mixture of Columbus SL and Cromor</li>
                    <li>Lugs - Nikko spearpoint (tweaked slightly)</li>
                    <li>Bottom bracket shell: Allotec</li>
                    <li>Fork Crown: Pacenti Artisan II</li>
                    <li>Dropouts & Fork Ends: Ceeway 959 & 995N stainless</li>
                    <li>Brakes: MAFAC RAID direct mount calipers warmed over by @Mafac_Brakes</li>
                    <li>Fenders: Velo-Orange</li>
                    <li>Tires: Compass Stampede Pass (later: Rene Herse Bon Jon Pass)</li>
                    <li>Drivetrain is Campagnolo 9sp (Veloce, Racing T...)</li>
                    <li>Derailleurs and brakes set up by Lou Kuhn of the Pony Shop</li>
                </ul>
            </dd>
            <dt><a href="https://photos.app.goo.gl/jUu46RAJXH59V1TaA">Turin-branded Eisentraut Limited</a></dt>
            <dd>Arrived March 7 2020 (nice timing...) s/n 75T005. Was
            built upon with mostly Dura-Ace components (rescued from
            my former Schwinn Volare). As of Spring 2025 it is back to
            a bare frame.
            </dd>
            <dd>More TBD.</dd>
        </dl>
    </p>
    <p>
        <a href="mailto:skip.montanaro@gmail.com">Skip Montanaro</a>, May 2025
    </p>

{% endblock %}
