{% extends "bootstrap.jinja" %}

{% set title = "My Bikes" %}

{% block content %}

    <p>
        I was mildly surprised to find that Google's web crawler
        doesn't crawl Google Photos. That means if I Google my Monti
        Special, it can't be found. Ditto for any other bike in my
        stable. What's up with that? So, I've put together this page
        to describe my various bikes and provide links to their albums
        in Google Photos.
    </p>

    <h2 class="mt-4">Current Stable</h2>

    <p>

        <dl>
            <dt><a href="https://photos.app.goo.gl/3YBkE6tGQRPsVwbS7">Monti Special</a>
            </dt>
            <dd>Frame built under the tutelage of (and with a lot of
            help by) Doug Fattic. Paint by Jack Trumbull (Franklin
            Frame)
                <ul>
                    <li>Tubing: a mixture of Columbus SL and Cromor</li>
                    <li>Lugs - Nikko spearpoint (tweaked slightly)</li>
                    <li>Bottom bracket shell: Allotec</li>
                    <li>Fork Crown: Pacenti Artisan II</li>
                    <li>Dropouts & Fork Ends: Ceeway 959 & 995N stainless</li>
                    <li>Brakes: MAFAC RAID direct mount calipers warmed over by @Mafac_Brakes</li>
                    <li>Fenders: Velo-Orange</li>
                    <li>Tires: Compass Stampede Pass (later: Rene Herse Bon Jon Pass)</li>
                    <li>Drivetrain is Campagnolo 9sp (Veloce, Racing T...)</li>
                    <li>Derailleurs and brakes set up by Lou Kuhn of the Pony Shop</li>
                </ul>
            </dd>
            <dt><a href="https://photos.app.goo.gl/jUu46RAJXH59V1TaA">Turin-branded Eisentraut Limited</a></dt>
            <dd>Arrived March 7 2020 (nice timing...) s/n 75T005. Was
            built upon with mostly Dura-Ace components (rescued from
            my former Schwinn Volare). As of Spring 2025 it is back to
            a bare frame.
            </dd>
            <dt><a href="https://photos.app.goo.gl/auNis2Sw5DUBL8t88">Griffon</a></dt>
            <dd>Built by Jim Holly, not sure of the exact timeframe,
            but likely late 70s or early 80s. s/n 11123.</dd>
            <dt><a href="https://photos.app.goo.gl/96eYWbEsWziTXw5SA">Italvega Super Speciale</a></dt>
            <dd>Had a couple Italvegas in the early- to mid-70s. When
            this one popped up on eBay, I had to snag it.</dd>
            <dt><a href="https://photos.app.goo.gl/fm988mmGDELgzXSWA">Jim Redcay</a></dt>
            <dd>Jim Redcay was a custom framebuilder in New Jersey. He
            only wielded a torch under his own name for a few years,
            then took over the Ross Signature project when Tom Kellogg
            left to start Spectrum Cycles. My frame was built in 1979.</dd>
            <dt><a href="https://photos.app.goo.gl/1o8uf6p4GcgP9Uc29">Dawes Galaxy</a></dt>
            <dd>Probably 1970-75 Galaxy. eBay find for $45. I
            originally thought I would just flip it, but never got
            around to pulling the trigger. After knocking around the
            garage for a long time, I used it as a stationary trainer
            during rehab after femur surgery in 2017. At that point,
            it found a soft spot in my heart. It has now become my
            beboppin' around town bike, displacing my Schwinn
            Speedster. In addition to being a whole lot lighter, it's
            got six (count 'em!) gears. What an improvement in spacing
            over the old wide range S-A three-speed hub.</dd>
            <dt><a href="https://photos.app.goo.gl/e65fM7ZCiDAnLN948">Austro-Daimler Vent Noir</a></dt>
            <dd>This is a rummage sale find, meant to be
            catch-and-release. It appears to be mostly original. It
            came with 27-inch clincher wheels with lower end Shimano
            hubs, but now at least has a wheelset with early Dura-Ace
            hubs.</dd>
            <dt><a href="https://photos.app.goo.gl/ccWUC4SBc19A1w366">J.P. Weigle</a></dt>
            <dd>A gift from Weisan. It came to both him and me with a
            badly damaged downtube. I plan to repair it (or get it
            repaired) someday, hopefully soon.</dd>
            <dt><a href="https://photos.app.goo.gl/hGNDxxtmYC67c5aM6">Univega Super Speciale</a></dt>
            <dd>Already having an Italvega Super Speciale, this seemed
            like a nice complement. :-) Built the frame up with a
            Regina America '92 group, essentially a by-then-obsolete
                Shimano SIS-compatible six-speed drivetrain.</dd>
            <dt><a href="https://photos.app.goo.gl/TzYMzPBT1PrXsLCX6">Fuji The Finest</a></dt>
            <dd>A CL pickup in Portland, it languished in my son's
            basement for a couple years before I got it home and got
            it rolling. It's now back in Portland waiting for me to
                visit and ride it.</dd>
            <dt><a href="https://photos.app.goo.gl/gBhmWwD4DJYuaVp47">Gitane Super Corsa</a></dt>
            <dd>Another pickup in Portland. Still waiting transport to
            Evanston for some much-needed TLC.</dd>
            <dt><a href="https://photos.app.goo.gl/WCm8i6JrWSAKHPtK8">Bauer Momentum</a></dt>
            <dd>Just a frame in need of repair. Still waiting for me
                to repair it. A gift from Mad Honk.</dd>
            <dt><a href="https://photos.app.goo.gl/UJfDRF7AktX6Pmuo8">Atala Super Professional</a></dt>
            <dd>Nice riding Atala, but bad chrome. Currently
                disassembled, awaiting rebirth as something else.</dd>
            <dt><a href="https://photos.app.goo.gl/ifhLph6QjaTyDtF4A">Motobecane Grand Touring Mixte</a></dt>
            <dd>Local pickup. Replaced the drop bars and use it as a
            loaner for AirBnB guests.</dd>
        </dl>
    </p>

    <h2 class="mt-4">Gone, but not Forgotten</h2>

    <p>

        <dl>
            <dt><a href="https://photos.app.goo.gl/YpYV23nwHZjgVPdG9">Automoto Champion du Monde</a></dt>
            <dd>Mid-50s. I got it as <a href="https://photos.app.goo.gl/dbhV8XmoUVF1JS2K6">a mess</a>, moved it on as a bit <a href="https://photos.app.goo.gl/BfN5T67zzN2r5afC9">less
            of a mess</a>.</dd>
            <dt><a href="https://photos.app.goo.gl/vkUqigWGJeAaDU5Z8">Frejus Tour de France</a></dt>
            <dd>My brother-in-law found this bike on a contracting job
            and dropped it off to see if I might be interested in it
            (saved from an almost inevitable trip to the dump). Heck
            yeah! A touch small for me perhaps, but I think I can
            probably squeeze onto it. :-) I originally thought this
            dated from the late 1950s, but looking at the Frejus
            serial number list on the Classic Rendezvous website, I
            think it might have been produced in the early 1960s.</dd>
            <dt><a href="https://photos.app.goo.gl/vXeK9WowgXCr8mps6">Trek 520</a></dt>
            <dd>Local CL pickup. This was my commuter for quite some
            time until it met with an ignominous demise in a crash
            with a car. I have the titanium rod in my leg to prove it.</dd>
            <dt><a href="https://photos.app.goo.gl/Fbfsp3qRGgchiVjX6">Schwinn Volare</a></dt>
            <dd>A "Japanese Paramount." This was an excellent rider,
            but the Eisentraut filled the same niche, so I moved the
            frame along. Most of the parts on the Volare wound up on
                the Eisentraut. The wheels are now on the Vent Noir.</dd>
            <dt><a href="https://photos.app.goo.gl/yem2hssvi3zp4s3S7">Conti</a></dt>
            <dd>Picked up on Chicago Craigslist, road it for a bit,
            stripped it, let the frame hang for several years, then
            built it back up, eventually selling it to a Bikeforums
                acquaintance.</dd>
            <dt><a href="https://photos.app.goo.gl/PVA4DskdP2gq2Wyo8">Medici Pro-Strada</a></dt>
            <dd>Pretty early example. It had been in a front-end
            collision so the fork was compromised and there was a
            little downtube ripple. I had the fork fixed and
                eventually rechromed.</dd>
            <dt><a href="https://photos.app.goo.gl/gi93d85AnfCzYTYx9">Hawthorne</a></dt>
            <dd>My only balloon tire bike. Way too small for me. I eventually
                sold it to a fellow from <a href="https://thecabe.com/"The CABE</a>.</dd>
            <dt><a href="https://photos.app.goo.gl/jfBhsPonumHrJb4k9">Raleigh Competition</a></dt>
            <dd>Bought this for my son in Burlington VT.</dd>
            <dt><a href="https://photos.app.goo.gl/7CooQfrE8hV6AtQHA">Motobecane Grand Jubilé</a></dt>
            <dd>Found this at Play It Again Sports. FIxed it up, rode it a bit, then moved it along.</dd>
        </dl>
    </p>

    <h2 class="mt-4">Miscelaneous Bike-Related Stuff</h2>

    <p>

        <dl>
            <dt><a href="https://photos.app.goo.gl/UhhCHfDN5qUpzNz18">Freewheel Spacing</a></dt>
            <dd>Various freewheel spacing images, cribbed from the Internet. My apologies to the various copyright holders, most of whom I've long since forgotten.</dd>
            <dt><a href="https://photos.app.goo.gl/fKRvC6vqn9VM5PMe7">Simplex Derailleur Documentaion</a></dt>
            <dd>Various things I found on the Internet about Simplex
            derailleurs as I was fiddling around with their earlier
            stuff.</dd>
        </dl>
    </p>

    <p>
        <a href="mailto:skip.montanaro@gmail.com">Skip Montanaro</a>, May 2025
    </p>

{% endblock %}
