{% extends "bootstrap.jinja" %}

{% set title = "My Bikes" %}

{% block content %}

    <p>
        I was mildly surprised to find that Google's web crawler
        doesn't crawl Google Photos. That means if I Google my Monti
        Special, it can't be found. Ditto for any other bike in my
        stable. What's up with that? So, I've put together this page
        to describe my various bikes and provide links to their albums
        in Google Photos.
    </p>

    <p>
        <dl>
            <dt><a href="https://photos.app.goo.gl/3YBkE6tGQRPsVwbS7">Monti Special</a>
            </dt>
            <dd>Frame built under the tutelage of (and with a lot of
            help by) Doug Fattic. Paint by Jack Trumbull (Franklin
            Frame)
                <ul>
                    <li>Tubing: a mixture of Columbus SL and Cromor</li>
                    <li>Lugs - Nikko spearpoint (tweaked slightly)</li>
                    <li>Bottom bracket shell: Allotec</li>
                    <li>Fork Crown: Pacenti Artisan II</li>
                    <li>Dropouts & Fork Ends: Ceeway 959 & 995N stainless</li>
                    <li>Brakes: MAFAC RAID direct mount calipers warmed over by @Mafac_Brakes</li>
                    <li>Fenders: Velo-Orange</li>
                    <li>Tires: Compass Stampede Pass (later: Rene Herse Bon Jon Pass)</li>
                    <li>Drivetrain is Campagnolo 9sp (Veloce, Racing T...)</li>
                    <li>Derailleurs and brakes set up by Lou Kuhn of the Pony Shop</li>
                </ul>
            </dd>
            <dt><a href="https://photos.app.goo.gl/jUu46RAJXH59V1TaA">Turin-branded Eisentraut Limited</a></dt>
            <dd>Arrived March 7 2020 (nice timing...) s/n 75T005. Was
            built upon with mostly Dura-Ace components (rescued from
            my former Schwinn Volare). As of Spring 2025 it is back to
            a bare frame.
            </dd>
            <dt><a href="https://photos.app.goo.gl/auNis2Sw5DUBL8t88">Griffon</a></dt>
            <dd>Built by Jim Holly, not sure of the exact timeframe, but likely late 70s or early 80s. s/n 11123.</dd>
            <dt><a href="https://photos.app.goo.gl/96eYWbEsWziTXw5SA">Italvega Super Speciale</a></dt>
            <dd>Had a couple Italvegas in the early- to mid-70s. When this one popped up on eBay, I had to snag it.</dd>
            <dt><a href="https://photos.app.goo.gl/fm988mmGDELgzXSWA">Jim Redcay</a></dt>
            <dd>Jim Redcay was a custom framebuilder in New Jersey. He only wielded a torch under his own name for a few years, then took over the Ross Signature project when Tom Kellogg left to start Spectrum Cycles. My frame was built in 1979.</dd>
            <dt><a href="https://photos.app.goo.gl/1o8uf6p4GcgP9Uc29">Dawes Galaxy</a></dt>
            <dd>Probably 1970-75 Galaxy. eBay find for $45. I originally thought I would just flip it, but never got around to pulling the trigger. After knocking around the garage for a long time, I used it as a stationary trainer during rehab after femur surgery in 2017. At that point, it found a soft spot in my heart. It has now become my beboppin' around town bike, displacing my Schwinn Speedster. In addition to being a whole lot lighter, it's got six (count 'em!) gears. What an improvement in spacing over the old wide range S-A three-speed hub.</dd>
        </dl>
    </p>
    <p>
        <a href="mailto:skip.montanaro@gmail.com">Skip Montanaro</a>, May 2025
    </p>

{% endblock %}
