{% extends "bootstrap.jinja" %}

{% set title = "Google Photo Link Generator" %}

{% block content %}
    <div class="container">
        {% if error.strip() != "" %}
            <p>
                <b>Error: {{ error }}</b>
            </p>
            <hr/>
        {% endif %}

        {% if reference.strip() != "" %}
            <p>
                Result:<br/>
                <tt>{{ reference }}</tt>
            </p>
            <hr/>
        {% endif %}

        <div class="form-group">
            <form action="/photolink" method="post">
                {{ photo_form.csrf_token }}
                Google Photo URL (<a href="/photolink/help">?</a>):
                    {{ photo_form.url(size=50, xclass_="form-control") }}<br/>
                Width: {{ photo_form.width(size=5, class_="form-control") }}<br/>
                Format: {{ photo_form.fmt(class_="form-control") }}<br/>
                <input class="form-control" name="photo" type="submit" value="Go">
            </form>
        </div>
    </div>
{% endblock %}
