{% extends "bootstrap.jinja" %}

{% set title = "Python Stuff" %}

{% block content %}
<ul>
    <li>
        This is ancient, ancient history (Nov 1998 ancient), but I get
        the occasional request for it (still). The legacy python.org
        website has the proceedings of the <a href="https://legacy.python.org/workshops/1998-11/">Seventh Python Conference</a>.
        It has my paper in both <a href="https://legacy.python.org/workshops/1998-11/proceedings/papers/montanaro/montanaro.html">HTML</a>
        and <a href="https://legacy.python.org/workshops/1998-11/proceedings/papers/montanaro/montanaro.ps">PostScript</a> form,
        but I also gave a short <a href="/static/python/spam7/peephole.html">talk</a>.
    </li>
    <li>
        Someone <a href="https://mail.python.org/pipermail/python-list/2022-November/908181.html">asked about persisting functions</a>
        from Python's REPL. <a href="/static/python/save_session.py">This little module</a>
        doesn't do exactly what they wanted, but I use it on
        occasion. It could be augmented to save to a user-defined file
        with little effort.
    </li>
    <li>
        Back in the dawn of time, I wrote a simple <a href="/static/python/fsm.py">finite state machine</a> module. I have no idea if it still works, but Google's crawler has been looking for it for some reason...
    </li>
    <li>For Internet archaeologists, there are more Python bits on GitHub <a href="https://github.com/smontanaro/python-bits">here</a> and <a href="https://github.com/smontanaro/csvprogs">here</a>.
</ul>
{% endblock %}
