{% extends "bootstrap.jinja" %}

{% set title = "Resistance Calendar" %}

{% block content %}
    <p>This calendar is maintained by <a href="mailto:skip.montanaro@gmail.com">me</a>. I
    could really use help from people in various resistance-oriented
        organizations to add new events and maintain existing ones.</p>
    <iframe src="https://calendar.google.com/calendar/embed?src=81529b82f60eb9d139ddaa0763a5d5b541c388a08ed8f47635d4cca846452f82%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
