<div class="form-group">
    <form action="/search" method="post">
        <b>Search</b> {{ search_form.engine(class_="form-control") }} for
        {{ search_form.query(size=10, class_="form-control") }}
        {{ search_form.csrf_token }}
        {{ search_form.site }}
        <input class="form-control" name="search" type="submit" value="Go">
    </form>
</div>
