{% extends "index.jinja" %}

{% block left %}
    {{ super() }}
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/CR/{{ year }}/{{ month }}/dates">Date Index</a>
    <hr style="height: 4px" />
    {% include "search.jinja" %}
{% endblock %}
