{% extends "home.jinja" %}
{% block nav %}
<a href="/">Home</a>&nbsp;<a href="/CR">CR Archives</a>
{% endblock %}
{% block left %}
  {% include "search.jinja" %}
  {% include "stuff.jinja" %}
{% endblock %}
{% block body %}
<h1>Archive Topics</h1>

<div style="fontweight: bold">
  Note: These topics are constructed by hand (snobs might say
  "curated"). You can help expand these topics contain by using the
  form at the top of each message page to submit your suggestions.
</div>

{% if topic %}
<h2>{{ topic }}</h1>
{% endif %}

{% if msgrefs %}
  <ul class="no-bullets" style="padding-left: 0em">
  {% for (year, month, seq, subject) in msgrefs %}
    <li><a href="/CR/{{ year }}/{{ month }}/{{ seq }}">{{ subject }}</a>
  {% endfor %}
  </ul>
{% endif %}

{% if topics %}
  {% if msgrefs %}
  <h2>Known Topics</h2>
  {% endif %}

  <ul class="no-bullets"
      style="padding-left: 0em; column-count: auto; column-width: 200px">
  {% for topic in topics %}
    <li><a href="/topics/{% filter urlencode %}{{topic}}{% endfilter %}">{{ topic }}</a>
  {% endfor %}
  </ul>
{% endif %}

{% endblock %}
